/* src/fonts.css */

/* CabinetGrotesk */
@font-face {
    font-family: 'CabinetGrotesk';
    src: url('/public/fonts/CabinetGrotesk-Regular.otf') format('opentype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CabinetGrotesk';
    src: url('/public/fonts/CabinetGrotesk-Medium.otf') format('opentype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }

  @font-face {
    font-family: 'GeneralSans';
    src: url('/public/fonts/GeneralSans-Semibold.otf') format('opentype');
    font-weight: 600; /* Semibold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CabinetGrotesk';
    src: url('/public/fonts/CabinetGrotesk-Bold.otf') format('opentype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  /* GeneralSans */
  @font-face {
    font-family: 'GeneralSans';
    src: url('/public/fonts/GeneralSans-Regular.otf') format('opentype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GeneralSans';
    src: url('/public/fonts/GeneralSans-Medium.otf') format('opentype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GeneralSans';
    src: url('/public/fonts/GeneralSans-Bold.otf') format('opentype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  


  @font-face {
    font-family: 'Fira';
    src: url('/public/fonts/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  


  .no-blur-box-shadow {
    box-shadow: 20px 20px 0px 0px #000000;
  }
  
  .transition-bg {
    transition: background-color 0.5s ease; /* Adjust time (0.5s) and easing function (ease) as desired */
  }



  .underline-animation {
    position: relative;
    display: inline-block;
}

.underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor; /* Uses the current text color */
    transform-origin: bottom right;
    transition: transform 0.45s ease-out;
}

.underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}